.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
 justify-content: center;
  gap: 15px;
  width: 400px;
  max-width: 90%;
  margin-bottom: 20px;
 
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.contact-form textarea {
  min-height: 100px;
  resize: none;
}

.contact-form button {
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #333;
}

.success {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

.social-title {
  font-size: 13px;
  letter-spacing: 2px;
  color: #999;
  margin-top: 20px;
}

