.header {
  height: calc(100vh - 70px);
  margin-top: 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 0 20px;
  gap: 18px;
}


/* Profile Image */
.header img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* Small Intro Text */
.header h2 {
  font-size: 22px;
  font-weight: 400;
  color: #777;
  margin: 0;
}

/* Big Heading */
.header h1 {
  font-size: 72px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.05;
  margin: 0;
}

/* Paragraph */
.header p {
  max-width: 650px;
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

/* Buttons Container */
.buttons {
  display: flex;
  gap: 18px;
  margin-top: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Buttons */
.buttons button {
  padding: 14px 28px;
  border-radius: 30px;
  border: 1px solid #000;
  background: white;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  gap: 8px;
}

/* Button Icons */
.buttons button img {
  width: 18px;
  height: 18px;
}

/* Hover */
.buttons button:hover {
  background: black;
  color: white;
}


