.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  transition: all 0.3s ease;
  background: transparent;
  z-index: 1000;
  height: 70px;
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.6); /* semi-transparent */
  backdrop-filter: blur(15px); /* glass blur */
  -webkit-backdrop-filter: blur(15px); /* safari support */
  padding: 12px 40px; /* slightly smaller */
}

/* Logo */
.logo img {
  width: 40px;
  cursor: pointer;
}

/* Middle Nav */
.nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 12px 25px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

/* Right Section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-right button img {
  width: 30px;
}

.nav-right a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 18px;
  border: 1px solid gray;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.nav-right a img {
  width: 18px;
}
