.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;

  margin: 30px;
}
.filter-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  margin: 10px;
}
.filter-buttons button {
  padding: 8px;
  width: 6vw;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 70vw;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.project-card {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  width: 25vw;
  height: 40vh;
}
.project-card img {
  width: 25vw;
}
