.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 100px 40px;
}
.filter-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  margin: 10px;
}
.filter-buttons button {
  padding: 8px;
  width: 6vw;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.filter-buttons button :hover {
  background-color: red;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 70vw;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}
.skill-card {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 7vw;
  height: 15vh;
}
